<div class="card border-danger mb-3" style="max-width: 100rem;">
  <% if flash[:errors] %>
    <% flash[:errors].each do |e|%>
      <p class="alert alert-danger"><%= e %></p>
    <% end %>
  <% end %>
  <div class="card-header">Edit Answer</div>
  <div class="card-body text-dark">
    <h5 class="card-title"><%= @answer_edit.question.question%></h5>
    <p class="card-text">
      <% if @answer_edit.question.answer_type == 'Numerical'%>
        <%= form_for(@answer_edit, url: answer_update_path(@answer_edit.id), remote: true) do |f|%>
          <%= f.label :answer%>
          <%= f.number_field :answer%>
          <%= f.submit 'Submit'%>
        <% end %>
      <% elsif @answer_edit.question.answer_type == 'Text' %>
        <%= form_for(@answer_edit, url: answer_update_path(@answer_edit.id), remote: true) do |f|%>
          <%= f.label :answer%>
          <%= f.text_area :answer%>
          <%= f.submit 'Submit'%>
        <% end %>
      <% else %>
        <%= form_for(@answer_edit, url: answer_update_path(@answer_edit.id), remote: true) do |f|%>
          <% @choices.each do |choice| %>
            <% if choice.question_id == @answer_edit.question.id%>
              <%= f.radio_button :answer, choice.choice, required: true %>
              <%= f.label :answer, choice.choice %>
            <% end %>
          <% end %>
          <%= f.submit 'Submit'%>
        <% end %>
      <% end %>

    </p>
  </div>
</div>









