
<hr>
<div>
  
<div class="row" style="background: #d4d7dd">
  <div class="col-4">
    <%= image_tag(@employee.profile_picture, {:style => "width:300px;"})%>
  </div>
  <div class="col-6">
    <br/><br/>
    <br/><br/>
    <div class="card border-primary mb-3" style="max-width: 50rem;">
      <div class="card-header">BASIC INFORMATION</div>
      <div class="card-body">
        <h5><span style="color: green">Name: </span><%= @employee.name %></h5>
        <h5><span style="color: green">Email: </span><%= @employee.email %></h5>
        <h5><span style="color: green">Role: </span><%= @employee.role %></h5>
        <% if current_employee.name == @employee.name %>
          <%#= link_to 'Change Password', edit_password_path(current_employee.id)%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<hr>

<div style="padding: 20px">
  <h3>ASSIGNED EQUIPMENTS</h3>
  <% @employee.material.each do|material| %>
  <label style="font-size: 2rem"><span class="badge badge-info"><%= material.name %></span></label>
  <% end%>
</div>

<hr>


<div style="padding: 20px" >
  <h3>QUESTIONS</h3>
  

  

  <div id="questions-tbl">
    <%= render 'homepage/question' %>
  </div>


  <hr>
  <div id="edit-show"></div>

</div>


<hr>


