<div class="row">
  <% @employees.each do |employee|%>
    <div class="col-6" style="border: 1px solid black; padding: 15px; margin-bottom: 5px">
      <div class="row">
        <div class="col-5">
          <%= image_tag(employee.profile_picture, {:style => "width:100px;"})%>
          <p style="font-size: 15px"><%= employee.email%></p>
        </div>
        <div class="col" >
          <label style="font-size: 15px;border-bottom: 2px black solid; width: 100%">Assigned Materials</label><br>
          <% if employee.material != [] %>
              <% employee.material.each do |material|%>
                <div class="row">
                  <div class="col">
                    <label><%= material.name%></label>
                  </div>
                  <div class="col">
                    <button class="btn btn-danger btn-sm">Remove</button>
                  </div>
                </div>
              <% end %>
              <hr>
          <% else %>
            <label style="color: red">NONE</label><hr>
          <% end %>
          <%= link_to "Assign material", new_assign_path(employee.id), remote: true, :class => 'btn btn-primary btn-sm' %>
        </div>
      </div>
    </div>
    <div class="form_show" id=<%= "form_for_#{employee.id}" %>></div>
  <% end %>
</div>
