<div class="modal-body"  id="password_modal">

    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p class="text-danger"><%= e%></p>
      <% end %>
    <% end %>

    <%= form_for(@employee_detail, url: update_password_path(current_employee.id), remote: true ) do |f| %>
      <div class="row">
        <div class="col-4"><%= f.label :current_password%></div>
        <div class="col-8"><%= f.password_field :current_password, required: true, :style => 'width:100%'  %></div>
      </div>
      <div class="row">
        <div class="col-4"><%= f.label :password, "Password" %></div>
        <div class="col-8"><%= f.password_field :password, required: true, :style => 'width:100%'%></div>
      </div>
      <div class="row">
        <div class="col-4"><%= f.label :password_confirmation %></div>
        <div class="col-8"><%= f.password_field :password_confirmation , required: true, :style => 'width:100%' %></div>
      </div>
      <%= f.button 'Update Password', type: 'submit', :class => "btn btn-primary" %>

    <% end %>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>

