 <table class="table table-striped" id="table-index">
    <thead>
      <tr>
        <th scope="col">Profile Picture</th>
        <th scope="col"><%= sort_link(@q, :name, {}, { :remote => true }) %></th>
        <th scope="col"><%= sort_link(@q, :email, {}, { :remote => true }) %></th>
        <th scope="col">Role</th>
        <% @questions.each do |question|%>
          <th scope="col">
              <%= truncate(question.question, :length => 25)%>
          </th>

        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if @employees %>
        <% @employees.each do |employee|%>
          <tr>
            <td>
            <%= link_to image_tag(employee.profile_picture, {:style => "width:100px;"}), homepage_path(employee.id)%>
            </td>
            <td>
              <%= link_to truncate(employee.name, :length => 20), homepage_path(employee.id) %>
              <% if employee.name == current_employee.name %>
                <br/>
                <p style="color: green">CURRENT USER</p>
              <% end %>
            </td>
            <td> <%= employee.email %> </td>
            <td> <%= employee.role %> </td>


            <% if @questions%>
             <% @questions.each do |question|%>

              <% if question.answer != [] and question.answer.where(employee_id: employee.id).pluck(:answer) != []%>
                <td class="q_answer"><p><%= question.answer.where(employee_id: employee.id).pluck(:answer).first%></p></td>
              <% else %>
                <td><span class="badge badge-danger">Unanswered</span></td>
              <% end %>
            <% end %>
            <% end %>


          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>