<div class="container-fluid" id="question_area">
  <div class="material_header">
    <label class="text-center">Questions</label>
  </div>  

  <% @questions.each do |question|%>

    <div id="question">
      <div class="row">
        <div class="col-2">QUESTION:</div>
        <div class="col-8">
          <label><%= question.question %></label>
        </div>
        <div class="col-2">
            <% if question.answer != [] and question.answer.where(employee_id: @employee.id).pluck(:answer) != []%>
            <% else %>
            <% if current_employee.id == @employee.id%>
              <%= link_to 'Answer', answer_new_path(question.id), remote: true, :class => 'btn btn-warning btn-block'%>
            <% end%>
          <% end%>
        </div>
      </div>
      
      

    </div>
    <% if question.answer != [] and question.answer.where(employee_id: @employee.id).pluck(:answer) != []%>
      <div id="answer">
        <div class="row">
          <div class="col-2">ANSWER:</div>
          <div class="col-8">
            <label><%= question.answer.where(employee_id: @employee.id).pluck(:answer).first%></label>
          </div>
          <div class="col-2">
            <% if current_employee.id == @employee.id%>
              <%= link_to 'Edit', edit_homepage_path(question.answer.where(employee_id: @employee.id).pluck(:id)), remote: true, :class => 'btn btn-success btn-sm'%>
              <%= link_to 'Delete', answer_delete_path(question.answer.where(employee_id: @employee.id).pluck(:id)), data: {:confirm => 'Are you sure?'}, :method => :delete, :remote => true, :class => 'btn btn-danger btn-sm'%>
            <% end %>
          </div>
        </div>
      </div>
     <% end %>
    <div style="height: 30px"></div>

  <% end %>

</div>
