

<div class="container-fluid" id="profile">
  <div class="row">
    <div class="col-4">
      <%= image_tag(@employee.profile_picture)%>
      <div id="profile_information">
          <div class="row">
            <div class="col-3"><span>Name: </span></div>
            <div class="col-9"><span><%= @employee.name %></span></div>
          </div>

          <div class="row">
            <div class="col-3"><span>Email: </span></div>
            <div class="col-9"><span><%= @employee.email %></span></div>
          </div>

          <div class="row">
            <div class="col-3"><span>Role: </span></div>
            <div class="col-9"><span><%= @employee.role %></span></div>
          </div>
      </div>

    </div>
      <div class="col-8">
        <div class="material_header">
          <label> Materials Assigned</label>
        </div>
        <div class="row">
          <% if @employee.material == [] %>
            <div class="col-3" id="">
              <label>No materials assigned.</label>
            </div>
          <% else %>
          <% @employee.material.each do|material| %>
            <div class="col-3" >
              <div class="row">
                <div class="col-4">Name: </div>
                <div class="col"><%= material.name%></div>
              </div>
              <div class="row">
                <div class="col-4">Type: </div>
                <div class="col"><%= material.material_type%></div>
              </div>
              <div class="row">
                <div class="col-4">Status: </div>
                <div class="col"><%= material.status%></div>
              </div>
            </div>

           <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>

<div  id="form-area" class="row" style="padding: 10px">
  <div id="questions-tbl" class="col-12">
    <%= render 'homepages/question' %>
  </div>
  <div class="col-4">
    <div id="form-area">
      <div id="form-show"></div>
      <button class="btn btn-danger btn-block" id="cancel-btn" style="margin: 10px 20px 0 20px;width: 90%;">Cancel</button>
    </div>
  </div>
</div>
  






