

<div class="container-fluid" id="profile">
  <div class="row">
    <div class="col-4">
      <%= image_tag(@employee.profile_picture)%>
      <div id="profile_information">
          <div class="row">
            <div class="col-3"><span>Name: </span></div>
            <div class="col-9"><span><%= @employee.name %></span></div>
          </div>

          <div class="row">
            <div class="col-3"><span>Email: </span></div>
            <div class="col-9"><span><%= @employee.email %></span></div>
          </div>

          <div class="row">
            <div class="col-3"><span>Role: </span></div>
            <div class="col-9"><span><%= @employee.role %></span></div>
          </div>
      </div>

    </div>
      <div class="col-8">
        <div class="material_header">
          <label> Materials Assigned</label>
        </div>
        <div class="row">
          <% if @employee.material == [] %>
            <div class="col-3" id="">
              <label>No materials assigned.</label>
            </div>
          <% else %>
          <% @employee.material.each do|material| %>
            <div class="col-3" >
              <div class="row">
                <div class="col-4">Name: </div>
                <div class="col"><%= material.name%></div>
              </div>
              <div class="row">
                <div class="col-4">Type: </div>
                <div class="col"><%= material.material_type%></div>
              </div>
              <div class="row">
                <div class="col-4">Status: </div>
                <div class="col"><%= material.status%></div>
              </div>
            </div>

           <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>


  <div style=" padding: 10px; background: white">
    <div style="padding: 20px; border: 1px solid" >
      <h3>QUESTIONS</h3>
      
      <div class="row">
        <div id="questions-tbl" class="col-12">
          <%= render 'homepages/question' %>
        </div>
        <div id="form-show">
        </div>
        
      </div>
      <div class="row">
          <div class="col-6"></div>
          <div class="col-6">
            <button class="btn btn-danger btn-block" id="cancel-btn">Cancel</button>
          </div>
        </div>
    </div>
    <div style="height: 20px"></div>


  </div>


<hr>



