

<div class="container-fluid" id="profile">
  <div class="row"  id="column_materials">
    <div class="col-4">
      <%= image_tag(@employee.profile_picture)%>
      <div id="profile_information">
          <div class="row">
            <div class="col-3"><span>Name: </span></div>
            <div class="col-9"><span><%= @employee.name %></span></div>
          </div>

          <div class="row">
            <div class="col-3"><span>Email: </span></div>
            <div class="col-9"><span><%= @employee.email %></span></div>
          </div>

          <div class="row">
            <div class="col-3"><span>Role: </span></div>
            <div class="col-9"><span><%= @employee.role %></span></div>
          </div>
      </div>

    </div>
      <div class="col-8">
        <div class="material_header text-center">
          <label> Materials Assigned</label>
        </div>
        <% if @employee.material != [] %>
          <div class="row">
            <% @employee.material.each do|material| %>
              <div class="col-3" >
                <div class="card text-white bg-info mb-3" style="max-width: 100rem;">
                  <div class="card-header"><%= material.material_type%></div>
                  <div class="card-body">
                    <h5 class="card-title text-dark"><%= material.name%></h5>
                  </div>
                  <div class="card-footer">
                    <small class="text-light"><%= material.status%></small>
                  </div>
                </div>
              </div>
             <% end %>
          </div>
        <% else %>
          <h3 class="text-center" style="color: red; padding-top: 50px;">No assigned materials.</h3>
        <% end %>
      </div>
    </div>
</div>

<div  id="form-area" class="row" style="padding: 10px">
  <div id="questions-tbl" class="col-12">
    <%= render 'homepages/question' %>
  </div>
  <div class="col-4">
    <div id="form-area">
      <div id="form-show"></div>
      <button class="btn btn-danger btn-block" id="cancel-btn" style="margin: 40px 20px 0 20px;width: 90%;">Cancel</button>
    </div>
  </div>
</div>
  






