<% if flash[:success]%>
  <p class="alert alert-success"><%= flash[:success]%></p>
<% end %>

<div class="container" id="profile_area">
  <div class="row">
    <div class="col-3"><%= image_tag(@employee.profile_picture)%></div>
    <div class="col-1"></div>
    <div class="col-8">
      <div class="profile_name">
        <%= @employee.name %>
        <% if current_employee.id == @employee.id%>
          <button type="button" class="btn-sm" data-toggle="modal" data-target="#exampleModal">Change Password</button>
        <% end %>
        <span class="badge badge-secondary"><%= @employee.role %></span>
      </div>
      <div><%= @employee.email %></div>
      <% if current_employee.id == @employee.id%>
        <div class="modal fade" id="exampleModal" tabindex="-1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Change password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div id="password_modal">
                <%= render 'homepages/change_password'%>
              </div>
            </div>
          </div>
        </div>
      <% end %>



      <hr/>
      <div id="info">
        <%= render 'homepages/info'%>
      </div>

    </div>
  </div>
</div>

<div class="container text-center" id="button_profile">
  <hr>
  <label class="active_button" id="button_question"><a href="#question">Question</a></label>
  <label id="button_material"><a href="#material">Material</a></label>
</div>

<%if current_employee.id == @employee.id%>
  <div class="container-fluid question_profile" id="question_profile">
<% else %>
  <div class="container question_profile">
<% end %>
  <div  id="question_area" class="row">
    <div id="questions-tbl" class="col-12">
      <%= render 'homepages/question' %>
    </div>
    <div class="col-4">
      <div id="form-area">
        <div id="form-show"></div>
        <button class="btn btn-danger btn-block" id="cancel-btn" style="margin: 40px 20px 0 20px;width: 90%;">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="container material_profile">
  <% if @employee.material != [] %>
    <div class="row">
      <% @employee.material.each do|material| %>
        <div class="col-3" >
          <div class="content text-center">
            <div class="material_name">
              <%= material.name%>
            </div>
            <hr/>
            <div class="material_details">
              <div>Type: <span><%= material.material_type%></span></div>
              <div>Status: <span><%= material.status%></span></div>
            </div>
          </div>
        </div>
       <% end %>
    </div>
  <% else %>
    <h3 class="text-center text-muted" style="padding-top: 50px;">No assigned materials.</h3>
  <% end %>
</div>
  






