<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) {truncate( t("administrate.actions.show_resource", name: page.page_title), :length => 30)} %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      truncate( t("administrate.actions.edit_resource", name: page.page_title), :length => 20),
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>
</header>



<div class="container" id="profile">
  <div class="row">
    <div class="col-4">
      <% page.attributes.each do |attribute| %>
        <% if attribute.name == 'profile_picture'%>
          <%= image_tag(attribute.data)%>
        <% end %>
      <% end %>
      <div id="profile_information">
        <% page.attributes.each do |attribute| %>
          <% if attribute.name != 'profile_picture' and attribute.name != 'material'%>
          <div class="row">
            <div class="col-3"><span><%= attribute.name.titleize%>:</span></div>
            <div class="col-9"><span><%= attribute.data%></span></div>
          </div>
          <% end %>
        <% end %>
      </div>


    </div>
    <div class="col-8">
      <h1 class="display-4">Materials Assigned</h1>
      <% page.attributes.each do |attribute| %>
        <% if attribute.name == 'material'%>
          <div class="row">
            <% attribute.data.each do |atr_material|%>
              <div class="col-3" >
                <div class="row">
                  <div class="col-4">Name: </div>
                  <div class="col"><%= atr_material.name%></div>
                </div>
                <div class="row">
                  <div class="col-4">Type: </div>
                  <div class="col"><%= atr_material.material_type%></div>
                </div>
                <div class="row">
                  <div class="col-4">Status: </div>
                  <div class="col"><%= atr_material.status%></div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>



