<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and JavaScripts
%>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">
  <title>
    <%= content_for(:title) %> - <%= Rails.application.class.parent_name.titlecase %>
  </title>
  <%= render "stylesheet" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "icons" %>

  <div class="app-container">
    <%#= render "navigation" -%>
    <div class="sidenav">
        <div class="sidenav">
          <% if current_employee.role == 'Admin'%>
                <%= image_tag("avatar.png", {:style => "width:150px;", :class => "avatar"}) %>
              <% end %>
          <div style="height: 20px"></div>
          <%= link_to 'Home', root_path%>
          <%= link_to 'Admin', admin_employees_path%>
          <% if current_employee.role == 'Employee'%>
            <%= link_to 'Edit Profile', admin_employees_path%>
          <% end %>
          <%= link_to "Logout", destroy_employee_session_path, method: :delete %>
        </div>
      </div>

    <main class="main-content main" role="main">
      <%= render "flashes" -%>
      Logged in as <strong><%= current_employee.username %></strong>.

      <%= yield %>
    </main>
  </div>

  <%= render "javascript" %>
</body>
</html>
