<h1><%= @question.question%></h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |e|%>
    <p class="alert alert-danger"><%= e %></p>
  <% end %>
<% end %>


<% if @question.answer_type == 'Numerical'%>
  <%= form_for(@answer, url:answer_question_path) do |f|%>
    <%= f.hidden_field :question_id, :value => @question.id %>
    <%= f.hidden_field :employee_id, :value => current_employee.id %>
    <%= f.label :answer%>
    <%= f.number_field :answer%>
    <%= f.submit 'Submit'%>
  <% end %>
<% elsif @question.answer_type == 'Text' %>
  <%= form_for(@answer, url:answer_question_path) do |f|%>
    <%= f.hidden_field :question_id, :value => @question.id %>
    <%= f.hidden_field :employee_id, :value => current_employee.id %>
    <%= f.label :answer%>
    <%= f.text_area :answer%>
    <%= f.submit 'Submit'%>
  <% end %>
<% else %>
  <%= form_for(@answer, url:answer_question_path) do |f|%>
    <%= f.hidden_field :question_id, :value => @question.id %>
    <%= f.hidden_field :employee_id, :value => current_employee.id %>
    <% @choices.each do |choice| %>
      <% if choice.question_id == @question.id%>
        <%= f.radio_button :answer, choice.choice, required: true %>
        <%= f.label :answer, choice.choice %>
      <% end %>
    <% end %>
    <%= f.submit 'Submit'%>
  <% end %>
<% end %>
