
<div class="card text-white bg-dark mb-3" style="max-width: 100rem;">
  <div class="card-header">Add new choice</div>
  <div class="card-body">
    <h5 class="card-title"><%= @question.question %></h5>
    <% if flash[:errors] and flash[:errors] != "" %>
      <% flash[:errors].each do |e|%>
        <p class="alert alert-danger"><%= e %></p>
      <% end %>
    <% end %>
    <p class="card-text">
      <%= form_for(@choice, url:create_choice_path, remote: true) do |f|%>
        <%= f.hidden_field :question_id, :value => @question.id %>
        <%= f.text_field :choice, :class => 'text-field'%>
        <br/>
        <%= f.submit 'Submit', :class => 'btn btn-block btn-primary form_submit'%>
      <% end %>
    </p>
  </div>
</div>