<% if flash[:error]%>
  <p class="alert alert-danger"><%= flash[:error]%></p>
<% end %>


<%= form_for(@question, url: admin_question_create_path, html: { class: "form" }, remote: true) do |f| %>
  <%= f.text_field :question , :maxlength=> 100%><br/>
  <%= f.select :answer_type, ['Text', 'Numerical', 'Choice'], include_blank: false %><br/>
  <%= f.submit :id => "btn_submit_question"%>
<% end %>
