    <div class="card border-primary mb-3" style="max-width: 80rem;">
      <div class="card-header">Add Choice for <%= @question.question %></div>
      <div class="card-body">
        <label style="font-size: 40px">CHOICES</label>
        <% if flash[:error] and flash[:error]!= "" %>
        <p class="alert alert-danger"><%= flash[:error]%></p>
        <% end %>
        <% @question.choice.each do |choice| %>
          <div class="row" style="padding-bottom: 5px">
            <div class="col-9"><%= choice.choice %></div>
            <div class="col-2">
              <%= link_to 'Remove', admin_delete_choice_path(id: choice.id, q_id: choice.question.id),data: {:confirm => 'Are you sure?'}, :method => :delete, :remote => true, :class => 'btn btn-sm btn-danger' %>
            </div>
          </div>
        <% end %>
        <hr>
        <%= form_with( url: admin_create_choice_path(:q_question => @question.question, :q_id => @question.id)) do %>
          <%= text_field_tag(:choice) %><br/>
          <%= submit_tag("Add Choice", :class => 'btn btn-block', :id => "btn_submit_choice")%>
        <% end %>
        <div style="height: 20px"></div>
        <div class="row">
          <div class="col-6" style="padding-right: 1px">
            <div id="create_question_btn"></div>
            <%= link_to 'Create Question', check_question_path(:question => @question.question), remote: true, :class => 'btn btn-block btn-success' %>
          </div>
          
          <div class="col-6" style="padding-left: 1px">
            <% if @question.id != nil%>
              <%= link_to 'Cancel', admin_delete_question_path(@question.id),data: {:confirm => 'Are you sure?'}, :method => :delete, :class => 'btn btn-block btn-danger' %>
            <% else %>
              <%= link_to 'Cancel', admin_questions_path, :class => 'btn btn-block btn-danger'%>
            <% end %>
          </div>
          
        </div>
      </div>
    </div>





