
<div id="assign_add">
    <div class="text-center">
      <div>Assign material to <strong style="font-size: 20px"><%= @employee.name%></strong></div>
      <hr/>
      <% if flash[:success] and flash[:success] != "" %>
        <p class="alert alert-success" style="font-size: 15px"><%= flash[:success]%></p>
      <% end %>
      <% @materials.each do |material|%>
        <div class="row">
          <div class="col-8">
            <label><%= material.name %> - <%= material.status%></label>
          </div>
          <div class="col-4">
            <%= form_for(material, url: create_assign_path(:material_id => material.id, :employee => @employee.id),remote: true) do |f|%>
              <%= f.hidden_field :employee_id, :value => @employee.id %>
              <%= f.submit 'Assign', :class => 'btn btn-success btn-sm'%>
            <% end %>
          </div>
        </div>
       <% end %>
       <hr>
       <div class="row">
         <div class="col-6"></div>
         <div class="col-6">
          <%= link_to 'Close', assign_close_path , remote: true, :class => 'btn btn-danger btn-block'%>
         </div>
       </div>

  </div>
</div>