<!DOCTYPE html>
<html>
  <head>
    <title>StaffList</title>
    <%= csrf_meta_tags %>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" > -->
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>

  </head>

  <body>

    <% if employee_signed_in? %>
      <div class="wrapper">
        <div class="sidebar">
          <h2>Staff List</h2>
          <div class="profile_section">
            <%= image_tag(current_employee.profile_picture)%>
            <%= link_to current_employee.name, homepage_path(current_employee.id)%>
          </div>
          <ul>
              <li><%= link_to 'Home', root_path%></li>
              <% if current_employee.role == 'Admin'%>
                <li><%= link_to 'Employees', admin_employees_path%></li>
                <li><%= link_to 'Materials', admin_materials_path%></li>
                <li><%= link_to 'Questions', admin_questions_path%></li>
              <% end %>
              <li><%= link_to "Logout", destroy_employee_session_path, method: :delete %></li>
          </ul> 
        </div>
        <!-- <div class="main_content">
          <div class="header">Welcome <%#= current_employee.name%> !!</div>  
        </div> -->
      </div>
    <%end %>



    <div class="main">
      <div class="container">
        <div style="height: 20px"></div>
        
        <div style="height: 20px"></div>

        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
