<!DOCTYPE html>
<html>
  <head>
    <title>StaffList</title>
    <%= csrf_meta_tags %>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" > -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <% if employee_signed_in? %>
      <div class="sidenav">
        <%= image_tag(current_employee.profile_picture, {:style => "width:150px;", :class => "avatar"}) %>
        <div style="height: 20px"></div>
        <%= link_to 'Home', root_path%>
        <%= link_to 'Admin', admin_employees_path%>
        <% if current_employee.role == 'Employee'%>
          <%= link_to 'Edit Profile', admin_employees_path%>
        <% end %>
        <%= link_to "Logout", destroy_employee_session_path, method: :delete %>
      </div>
    <% end %>


    <div class="main">
      <div class="container">
        <div style="height: 20px"></div>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <% if employee_signed_in? %>
          Logged in as <strong><%= current_employee.username %></strong>.
        
        <% end %>
        <div style="height: 20px"></div>

        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
