<!DOCTYPE html>
<html>
  <head>
    <title>StaffList</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <% if employee_signed_in? %>
      <div class="sidenav">
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a>
      </div>
    <% end %>


    <div class="main">
      <div class="container">
        <div style="height: 20px"></div>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <% if employee_signed_in? %>
          Logged in as <strong><%= current_employee.email %></strong>.
          <%= link_to "Logout", destroy_employee_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Login", new_employee_session_path, :class => 'navbar-link'  %>
        <% end %>
        <div style="height: 20px"></div>

        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
